{% extends 'base.html' %}

{% block title %} Registrar Departamento {% endblock title %}

{% block content %}

    {% include 'includes/header.html' %}

    <div class="grid-container">
        <div class="grid-x">
            <h1 class="cell">Registrar nuevo departamento</h1>
            <form class="cell callout grid-x grid-margin-x" method="POST">
                {% csrf_token %}
                <div class="cell large-6">
                    <label>Nombre del empleado:
                        {{ form.nombre }}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>Apellidos del empleado:
                        {{ form.apellidos }}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>Departamento:
                        {{ form.departamento }}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>Nombre corto del departamento:
                        {{ form.shortname }}
                    </label>
                </div>
                <div class="cell large-12">
                    <button type="submit" class="success button">Crear Nuevo</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
